.search-box * {
  transition: 0.1s all ease-in-out;
}

.search-box input:focus {
  outline: none;
  border: 1px solid var(--app-blue);
  box-shadow: none;
}

.search-box svg {
  transform: scale(0.75);
}

.search-box.active svg path {
  transition: 0.3s all ease-in-out;
  fill: var(--app-blue);
}

.search-box input {
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  user-select: none;
}
