.drop-box {
  border-radius: 8px;
  outline: 1px dashed #e5e7eb;
}

.file-box {
  border-radius: 8px;
  background-color: #f8f8f8;
}

.drop-box {
  cursor: pointer;
}

.drop-box.active {
  outline: 1px dashed #e5e7eb;
}

.drop-box.active,
.drop-box:hover {
  outline: 1px dashed var(--app-blue);
}

.drop-box.active svg path {
  fill: var(--app-blue);
}
