.container {
  border-radius: 10px;
  cursor: pointer;
}

.container input {
  display: none;
}

.container:not(.false) label {
  cursor: pointer;
}

.container.active:not(.false),
.container:not(.false):hover {
  background-color: var(--app-blue-light);
}

.container.active.false {
  background-color: #f2f2f2;
}

.container.false .checkbox path:last-child {
  display: none;
}

.container.false .checkbox path {
  stroke: #c1c1c1 !important;
}

.container.false {
  color: #c1c1c1 !important;
}

.container :where(.function, .event) {
  font-weight: 800;
  text-align: center;
  padding: 3px 7px;
  border-radius: 4px;
  font-size: 11px;
  user-select: none;
}

.container.false :where(.function, .event) {
  background-color: #eeeeee !important;
  color: var(--app-grey);
}

.container.false.active :where(.function, .event) {
  background-color: #dfdfdf !important;
}
.function {
  background-color: #ffe2e2;
  color: #c10f0f;
}

.event {
  background-color: #fff9e2;
  color: #c1b00f;
}
