.container {
  height: calc(100vh - var(--app-header-height));
}

.left {
}

.left .tab.active {
  border-left: 6px solid var(--app-blue);
  color: var(--app-blue);
}

.middle {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}
