.container {
  background-color: var(--app-bg-color-alt);
  border-radius: 10px;
  border: 1px solid #e2e5fe;
}

.container svg {
  transform: scale(0.8);
  /* stroke: var(--app-grey-medium); */
}

.container svg path {
  /* transform: scale(0.8); */
  fill: var(--app-grey-medium);
}

.address {
  color: #3b4ef2;
}

.string {
  color: #318509;
}

.uint {
  color: #4e0985;
}

.bool {
  color: #f2bf3b;
}

.bytes {
  color: #f23b3b;
}

.string,
.uint,
.bool,
.bytes,
.address {
  font-weight: 550;
}

.input-list {
  max-height: 145px;
  overflow-y: auto;
}

.input-list span:last-child {
  white-space: nowrap;
  width: 94px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-list * {
  text-align: center;
}
