.grey {
  color: #c0c0c0;
}

.link {
  color: #3b4ef2;
}

.container form {
  background-color: var(--app-bg-color);
  border-radius: 20px;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

.container section > div {
  max-width: 700px;
}

.container section form {
  min-width: 550px;
}
